.grid,
.pagos {
  display: grid;
  gap: 25px;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.grid       { grid-template-areas: 'h1 h2 h3 h4'; }
.pagos      { grid-template-areas: 'h1 h2 h3 v1 v2 v3'; }

.h, .v      { height: auto; width: 30vh; }
.v          { height: 30vh; width: auto; }

.h1 { grid-area: h1; height: 30vh; }
.h2 { grid-area: h2; height: 30vh; }
.h3 { grid-area: h3; height: 30vh; }
.h4 { grid-area: h4; height: 30vh; }

.pg1 { @extend .h1; }
.pg2 { @extend .h2; }
.pg3 { @extend .h3; }
.pg4 { @extend .h4; }
