header {
  background-color: #212529;

  .navbar-brand img { height: 50px; }

  .nav-link {
    color: #f8f9fa;
    font-weight: 600;

    &:hover { color: #ffc107; }
  }
}

/* clases auxiliares que tenías en tu CSS */
.header      { margin-top: 60px; }
.uno, .dos   { position: relative; bottom: 100px; left: 650px; }
.dos         { display: inline; }