.btn-primary {
  background-color: #5a189a;
  border-color: #5a189a;
  font-weight: 600;

  &:hover {
    background-color: #3c096c;
    border-color: #3c096c;
  }
}

.whatsapp-fixed {
  position: fixed;
  bottom: 20px; right: 20px;
  z-index: 9999;
  width: 60px; height: 60px;
  background-color: #25d366;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0,0,0,.4);
  @include flex-center;         

  img { width: 35px; height: 35px; filter: brightness(0) invert(1); }

  &:hover { transform: scale(1.1); }
}