.card {
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform .25s ease, box-shadow .25s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  }

  &-img-top {
    height: 280px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
}

.principal {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: fit-content;

  .producto {
    @extend .card;               
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;

    img { width: 300px; height: auto; }
    h3 { font-size: 22px; }

    .precio,
    .precio2,
    .precio3,
    .precio4,
    .precio5 {
      font-weight: 700;
      font-size: 25px;
    }
  }
}