@use '../base/variables' as v;

header {
  background-color: #2C3E50 ;
  color: white;
  padding: 1rem 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  nav {
    display: flex;
    gap: 1rem;

    a {
      color: white;
      text-decoration: none;
      font-weight: 500;
      transition: transition-base;

      &:hover {
        color: #D35400 ;
      }
    }
  }

  
  .menu-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
  }

  @media (max-width: 768px) {
    nav {
      display: none;
      flex-direction: column;
      background: #2C3E50 ;
      width: 100%;
      padding: 1rem 0;
    }

    nav.active {
      display: flex;
    }

    .menu-toggle {
      display: block;
    }
  }
}
